{% extends "base.html" %}

{% block title %}
	Cart - Flask-O-shop
{% endblock %}
<script src="https://js.stripe.com/v3/"></script>
{% block content %}
	{% with msgs =  get_flashed_messages(with_categories=True) %}
	{% for c, msg in msgs %}
		{% if c == 'error' %}
			<div class="flash-error">
		{% else %}
			<div class="success">
		{% endif %}
			{{ msg }}</div><br>
	{% endfor %}
	{% endwith %}
	{% if current_user.is_authenticated and not current_user.email_confirmed %}
		<div>
			Please confirm your email.
			<a href="{{ url_for('resend') }}">Click here to resend email confirmation link</a>
		</div><br>
	{% endif %}

	{% if not items %}
		<div class="flash-error">Cart is empty</div>
	{% endif %}
	<div class="items">
	{% for i in items %}
    <div class="item">
        <img src="{{ i.image }}" class="pic"><br><br>
        <b>{{ i.name }}</b>
        <span class="right-item">${{ i.price }}</span><br>
        <div class="details">{{ i.details | safe }}</div><br><br>
        <a href="{{ url_for('remove', id=i.id) }}">
            <button class="remove-from-cart"> Remove from Cart </button>
        </a>
	</div>
        {% endfor %}
	</div>
	{% if price %}
	<div class="check">
		<form method="POST" action="{{ url_for('create_checkout_session') }}">
			<input type="hidden" value="{{ price_ids }}" name="price_ids">
			Grand Total: ${{ price }} <br><br>
			<button class="bg-success btn-block btn-primary checkout"> Checkout </button>
		</form>
	</div>
	{% endif %}
{% endblock %}