{% extends "base.html" %}

{% block title %}
	Home - Flask-O-shop
{% endblock %}

{% block content %}
	{% with msgs =  get_flashed_messages(with_categories=True) %}
	{% for c, msg in msgs %}
		{% if c == 'error' %}
			<div class="flash-error">
		{% else %}
			<div class="success">
		{% endif %}
			{{ msg | safe}}</div><br>
	{% endfor %}
	{% endwith %}
	{% if current_user.is_authenticated and not current_user.email_confirmed %}
		<div>
			Please confirm your email.
			<a href="{{ url_for('resend') }}">Click here to resend email confirmation link</a>
		</div><br>
	{% endif %}

	<div class="items">
	{% for item in items %}
	<div class="item">
		<div class="item-wrapper">
			<img src="{{ item.image }}" class="pic"><br><br>
			<b>{{ item.name }}</b>
			<span class="right-item">${{ item.price }}</span><br>
			<div class="details"> {{ item.details | safe }} </div><br>
			<a href="{{ url_for('add_to_cart', id=item.id) }}">
				<button class="add-to-cart"> Add to Cart </button>
			</a>
		</div>
	</div>
	{% endfor %}
	</div>
{% endblock %}