{% extends "base.html" %}

{% block title %}
	Home - Flask-O-shop
{% endblock %}

{% block content %}
	{% with msgs =  get_flashed_messages(with_categories=True) %}
	{% for c, msg in msgs %}
		{% if c == 'error' %}
			<div class="flash-error">
		{% else %}
			<div class="success">
		{% endif %}
			{{ msg | safe}}</div><br>
	{% endfor %}
	{% endwith %}
	{% if current_user.is_authenticated and not current_user.email_confirmed %}
		<div>
			Please confirm your email.
			<a href="{{ url_for('resend') }}">Click here to resend email confirmation link</a>
		</div><br>
	{% endif %}

	{% if search %}
	<h3>Search results for "{{ query }}":</h3>
	{% else %}
	<h3>New Arrivals</h3>
	<br>
	<div class="items">
	{% for item in items[::-1] %}
	<a href="{{ url_for('item', id=item.id) }}">
		<div class="item">
			<div class="item-wrapper">
				<div class="img-wrapper">
					<img src="{{ item.image }}" class="pic">
				</div>
				{{ item.name }}
				<span class="right-item">${{ item.price }}</span><br>
					<i class="fa fa-star checked"></i>
					<i class="fa fa-star checked"></i>
					<i class="fa fa-star checked"></i>
					<i class="fa fa-star checked"></i>
					<i class="fa fa-star checked"></i>
					<span class="text-muted" >({{ range(1, 51) | random }})</span>
			</div>
		</div>
	</a>
	{% endfor %}
	</div>

	<br><br><h3>Most Popular</h3>
	{% endif %}
	<br>
	<div class="items">
	{% for item in items %}
	<a href="{{ url_for('item', id=item.id) }}">
		<div class="item">
			<div class="item-wrapper">
				<div class="img-wrapper">
					<img src="{{ item.image }}" class="pic">
				</div>
				{{ item.name }}
				<span class="right-item">${{ item.price }}</span><br>
					<i class="fa fa-star checked"></i>
					<i class="fa fa-star checked"></i>
					<i class="fa fa-star checked"></i>
					<i class="fa fa-star checked"></i>
					<i class="fa fa-star checked"></i>
					<span class="text-muted" >({{ range(1, 51) | random }})</span>
			</div>
		</div>
	</a>
	{% endfor %}
	</div>

	{% if not items %}
	<div class="flash-error">
		No items found.<br>
		<a href="{{ url_for('home') }}">Discover new items</a>
	</div>
	{% endif %}
{% endblock %}